extends ../node_modules/jade-bootstrap/_bootstrap

append body
  h1= title
  p Welcome to #{title}.
  .container(style="width:400px")
        form.form-signin
            h2.form-signin-heading Please sign in
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(type='password', placeholder='Password', required='')
            .checkbox
                    label
                        input(type='checkbox', value='remember-me')
                        | Remember me
            button#loginButton.btn.btn-lg.btn-primary.btn-block(type='button') Sign in
  script.
    $(document).ready(function() {
        $('#loginButton').click(function(e) {
            $.post('/login', {
                user_email: $('#inputEmail').val(),
                user_password: $('#inputPassword').val()
            }, function(data) {
                if (data.error) {
                    alert(data.message);
                } else {
                    window.location = data.redirect;
                }
            });
        });
    });